<% include ./head %>
Admin
    <ul>
        <li> <a href="/channels">Manage channels</a></li>
        <li> <a href="/pub">Publish Message to Channel</a></li>
</ul>


Client
    <ul>
        <li> <a href="/sub">Subscribe Channel</a></li>
</ul

<% include ./foot %>
